/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2", cursive;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.section-heading{
    font-family: "Oswald",sans-serif;
    font-size: 8rem;
    font-weight: 300;
    color: #ddd;
}

.section-heading-line{
    margin-top: 2rem;
    margin-right: 1rem;
    width: 4rem;
    height: .2rem;
    background: #ddd;
    margin-left: 2rem;
}
/* end of common styles */

/* navbar */

.navbar{
    width: 100%;
    height: 8rem;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    top: -8rem;
    z-index: 10;
    padding: 3rem;
    transition: height .5s;
    animation : animateNavbar 2s .2s forwards;
    /* fowards is used to keep the value. */
}

@keyframes animateNavbar {
    0%{
        top: -8rem;
    }

    100%{
        top: 0;
    }
}

.navbar.change{
    height: 100vh;
}

.nav-list{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: #FDFEFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.change .nav-list{
    opacity: 1;
    visibility: visible;
    transition: all .7s .5s;  
    /* above .5 is the delay and .7 is the total time */
}

.nav-link{
    font-size: 4rem;
    color: white;
    letter-spacing: .3rem;
    transition: all .3s;
    font-weight: 600;
    margin: 1rem 0;
}

.nav-link:hover{
    color: #9e0e09 ;
}

.logo-text{
    color: white;
    font-size: 2.6rem;
    position: absolute;
    top: 2rem;
    left: 4rem;
}
/* end of navbar */

/* menu */

.menu{
    width: 4rem;
    height: 4rem;
    /* background: #eee; */
    position: fixed;
    z-index: 10;
    top: -8rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    animation: animateMenu 2s .2s forwards;
}

@keyframes animateMenu {
    0%{
        top: -8rem;
    }

    100%{
        top: 2rem;
    }
}

.line{
    width: 100%;
    height: .2rem;
    background: #eee;
}

.line-1{
    width: 50%;
    transition: all .3s;
}

.change .line-1{
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
}

.line-3{
    width: 50%;
    margin-left: auto;
    transition: all .3s;
}

.change .line-3{
    transform: translateY(-1rem) rotate(35deg);
    transform-origin: right;
}

/* end of menu */

/* section 1 */

.section-1{
    width: 100%;
    height: 100vh;
    background: url(images/dark-bg.jpeg) no-repeat;
    background-size: cover;
    position: relative;
}

.banner{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading{
    margin-bottom: 4rem;
    height: 20rem;
    color: white;
    perspective: 50rem;
    overflow: hidden;
}

.banner-heading span{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(4rem);
    opacity: 0;
    letter-spacing: 3rem;
}

.heading-1{
    animation : animateHeading 12s 3s infinite;
}
.heading-2{
    animation : animateHeading 12s 6s infinite;
}
.heading-3{
    animation : animateHeading 12s 9s infinite;
}
.heading-4{
    animation : animateHeading 12s 12s infinite;
}

@keyframes animateHeading {
    0%{
        transform: translateZ(4rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    3%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    25%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    28%{
        transform: translateZ(4rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    
    100%{
        transform: translateZ(4rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}

.banner-paragraph{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    animation : fadeAnimation 1s 1.5s forwards;
}

@keyframes fadeAnimation {
    0%{
        opacity: 0;
        visibility: hidden;
    }

    100%{
        opacity: 1;
        visibility: visible;
    }
}

.banner-btn{
    width: 30rem;
    height: 6rem;
    display: inline-block;
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    color: white;
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: .1rem solid #800505;
    letter-spacing: .2rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    animation : fadeAnimation 1s 2s forwards;
    position: relative;
    overflow: hidden;
    transition: all .4s;
}

.banner-btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);
    /* text-shadow: .6rem .3rem .2rem rgba(0, 0, 0, 0.2); */
}

.banner-btn:active{
    transform : translateY(0);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.banner-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left .8s;
}

.banner-btn:hover::before{
    left: 100%;
}

/* end of section 1 */

/* section 2 */
.section-2{
    width: 100%;
    height: 90vh;
    background: #222020;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10rem;
    position: relative;
}

.section-2-paragraph{
    width: 95rem;
    font-size: 2rem;
    color: #ddd;
    border-top: .3rem double #aaa;
    border-bottom: .3rem double #aaa;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
    line-height: 5;
}

/* end of section 2 */

/*  section 3 */
.section-3{
    width: 100%;
    height: 100vh;
    background: #03070e;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.skills-cards-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}

.skills-card{
    width: 24rem !important;
    height: 20rem !important;
    background: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}

.skills-card-front{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skills-card-heading{
    font-size: 2rem;
    font-weight: 300;
    color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    text-align: center;
    /* background: linear-gradient(to right, red, orange); */
    align-items: center;
    padding: 0 auto;
    letter-spacing: .2rem;
}

.skills-card-rating{
    margin-bottom: 3rem;
    color: white;
    font-size: 2rem;
}

.mystar{
    animation: starAnimate 3s infinite linear;
}

@keyframes starAnimate {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(359deg);
    }
}

.skills-card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: 1rem;
}

.back-card-1{
    background: linear-gradient(to right, #087285, #0da5d3);
}

.back-card-2{
    background: linear-gradient(to right, #946809, #bdba0e);
}

.back-card-3{
    background: linear-gradient(to right, #a10c14, #e23b3b);
}

.back-card-4{
    background: linear-gradient(to right, #0b7e48, #3be286);
}

/* end of section 3 */

/* section 4 */
.section--4{
    width: 100%;
    height: 100vh;
    background: url(images/about.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.section--4--heading{
    color: rgba(0, 0, 0, 1);
    font-size: 8rem;
    font-family: "Oswald",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    text-decoration: underline;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.section-4{
    width: 100%;
    height: 100vh;
    background: #222020;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    position: relative;
}

.section-4 .section-heading{
    font-size: 5rem;
}

.section-4-paragraph{
    width: 95rem;
    position: absolute;
    bottom: 2rem;
    right: 15rem;
    font-size: 2rem;
    color: #ddd;
    border-top: .3rem double #aaa;
    border-bottom: .3rem double #aaa;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
    line-height: 1.5;
    /* text-indent: 1rem; */
}

.video-wrapper{
    width: 95rem;
    height: 47rem;
    position: absolute;
    top: 2rem;
    right: 15rem;
    box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3;
    transition: opacity .3s;
}

.controls{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(calc(100% - .4rem));
    transition: transform .4s;
}

.video-wrapper:hover .controls{
    transform: translateY(0);
}

.video-bar-wrapper{
    width: 100%;
    height: .7rem;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.video-bar{
    height: 100%;
    width: 0;
    background: #d30819;
    transition: width .2s linear;
}

.buttons{
    padding: 1.5rem 1rem 1rem 1rem;
}

.buttons button{
    background: none;
    border: none;
    cursor: pointer;
}

.buttons i{
    font-size: 2.8rem;
    color: white;
}

.fa-quote-left{
    align-self: flex-start;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}

.fa-quote-right{
    align-self: flex-end;
    font-size: 2.2rem;
}

.exception{
    font-size: 1.8rem;
}
/* end of section 4 */

/* project 1 */
.project-1{
    background-color: #2e242c;
    text-decoration: underline #fff;
}

.project-1 .section-heading-line{
    width: 2rem;
}
/* end of project 1 */
/* project 2 */
.project-2{
    background-color: #110c11;
    text-decoration: underline #fff;
}
/* end of project 2 */
/* project 3 */
.project-3{
    background-color: #2e242c;
    text-decoration: underline #fff;
}

.project-3 .section-heading-line{
    width: 2rem;
}
/* end of project 3 */
/* project 4 */
.project-4{
    background-color: #110c11;
    text-decoration: underline #fff;
}
/* end of project 4 */
/* project 5 */
.project-5{
    background-color: #2e242c;
    text-decoration: underline #fff ;
}
.project-5 .section-heading-line{
    width: 1rem;
}


/* end of section 4 */

/* section 5 */
.section-5{
    widows: 100%;
    height: 100vh;
    background-color: #171718;
    display: flex;
    align-items: center;
    padding: 0 10rem;
}

.contact-wrapper{
    widows: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details{
    display: flex;
    margin-bottom: 4rem;

}

.contact-details div{
    width: 25rem;
    text-align: center;
    margin: 4rem;
}

.contact-details i{
    font-size: 5rem;
    color: #7a1010;
}

.contact-details h3{
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #ccc;
    text-transform: uppercase;
}

.contact-details p{
    font-size: 1.6rem;
    color: #aaa;
}

.contact-wrapper h1{
    font-size: 4rem;
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.contact-form{
    width: 70rem;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    padding: 1.5rem;
    background: #444;
    color: #eee;
    border: none;
    margin-bottom: 2rem;
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .1rem;
}

.contact-form textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 10rem;
    min-height: 5rem;
}

.contact-form input[type = "submit"]{
    background-color: #7a1010;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s;
}

.contact-form input[type = "submit"]:hover{
    background-color: #5f0303;
}
/* end of section 5 */

/* footer */
.footer{
    width: 100%;
    height: 8rem;
    background-color: #202122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.footer-nav a{
    font-family: "Oswald",sans-serif;
    font-size: 2rem;
    color: #ccc;
    margin-right: 3rem;
    letter-spacing: .1rem;
    font-weight: 500;
    transition: color .4s;
}

.footer-nav a:hover{
    color: #862323;
}

.footer-text{
    font-size: 2rem;
    color: #ddd;
}

.my-icon{
    transition: all .4s;
}

.my-icon:hover{
    color: #fff;
    transform: translateY(-.5rem);
}
/* end of footer */

.scroll-up-btn{
    width: 5rem;
    height: 5rem;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.scroll-up-btn:hover{
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0rem 3rem rgba(255, 255, 255, 0.5);
}



/* Responsive */
@media(max-width : 1800px){
    .video-wrapper{
        width: 85rem;
        height: 40rem;
        right: 8rem;
    }

    .section-2{
        height: 90vh;   
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .section-2 .section-2-paragraph{
        /* margin : 0 0 25rem 5rem; */
        line-height: 3.5;
    }

    .section-4-paragraph{
        width: 85rem;
        right: 8rem;
    }

    .section-3 .section-heading-line{
        margin-right: 3rem;
    }
}

@media(max-width : 1650px) {
    html{
        font-size: 57%;
    }

    .video-wrapper{
        width: 75rem;
        height: 30rem;
        right: 5rem;
    }

    .section-4-paragraph{
        width: 75rem;
        right: 5rem;
        bottom: 10rem;
    }
}

@media(max-width : 1500px){
    .section-heading-line{
        display: none;
    }
}

@media(max-width : 1400px){
    html{
        font-size: 45%;
    }

    .banner-heading span{
        font-size: 8rem;
    }

    .banner-paragraph{
        width: 45rem;
        font-size: 2rem;
    }

    .section--4{
        height: 50vh;
    }

    .section-2,
    .section-3,
    .section-4,
    .section-5{
        flex-direction: column;
    }

    .section-2{
        justify-content: space-evenly;
    }

    .section-2-paragraph{
        margin-bottom: 5rem;
    }

    .video-wrapper{
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }

    .section-4-paragraph{
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }

    .section-3{
        height: auto;
        padding: 5rem 0 10rem 0;
    }

    .section-3{
        margin-bottom: 5rem;
    }

    .swiper-container{
        width: 100%;
    }

    .section-5{
        height: auto;
        padding: 5rem 0;
    }
}

@media(max-width : 900px){
    html{
        font-size: 40%;
    }

    .section-1,
    .section-2{
        height : 73vh;
    }

    .banner{
        top: 25%;
    }

    .banner-heading{
        height: 10rem;
    }

    .banner-heading span{
        font-size: 6rem;
    }

    .section-2-paragraph{
        margin-bottom: 10rem;
    }

    .section-4{
        height: 90vh;
    }

    .section--4{
        background: black;
    }

    .section--4--heading{
        color: white;
        font-weight: 300;
        font-size: 6rem;
    }

    .footer{
        padding: 0 5rem;
    }

    .footer-nav a{
        font-size: 1.6rem;
    }
}

@media(max-width : 700px) {
    html{
        font-size: 35%;
    }

    .section-2{
        height: 70vh;
    }

    .section-2 .section-heading{
        margin-bottom: 2rem;
    }

    .section-2-paragraph{
        width: 60vw;
        line-height: 3 !important;
    }

    .section-4{
        height: 100vh;
        display: flex;
        justify-content: stretch;
    }

    .section-4-paragraph{
        width: 80vw;
        position: absolute;
        bottom: 10rem;
    }

    .video-wrapper{
        width: 80vw;
        height: 60rem;
    }

    .contact-details div{
        margin: 3rem 2rem;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
    }

    .footer-nav{
        margin-bottom: 2rem;
    }
}

@media(max-width : 500px){
    html{
        font-size: 30%;
    }

    .section-2{
        height: 60vh;
    }

    .banner-heading{
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }

    @keyframes animateHeading {
        0%{
            transform: translateZ(4rem);
            opacity: 0;
            letter-spacing: 1.8rem;
        }
    
        3%{
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 0.9rem;
        }
    
        25%{
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 0.9rem;
        }
    
        28%{
            transform: translateZ(4rem);
            opacity: 0;
            letter-spacing: 1.8rem;
        }
        
        100%{
            transform: translateZ(4rem);
            opacity: 0;
            letter-spacing: 1.8rem;
        }
    }

    .video-wrapper{
        width: 70vw;
    }

    .section-4-paragraph{
        width: 70vw;
    }

    .contact-details div{
        width: 15rem;
        margin: 2rem 1rem;
    }

    .contact-form{
        width: 50rem;
    }
}
/* end of Responsive */
